PORT=4002
DATABASE_URL=postgres://admin:admin@postgres:5432/inventory_db
REDIS_URL=redis://valkey:6379
RABBITMQ_URL=amqp://rabbitmq:5672
SERVICE_NAME=inventory
OTEL_EXPORTER_OTLP_ENDPOINT=http://jaeger:4318